.bar {
    width: 25px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    border-radius: 20px;
}

.bar.green {
    cursor: pointer;
    background-color: #13C296
}

.bar.green:hover {
    opacity: 0.5;
}

.bar.red {
    cursor: pointer;
    background-color: rgba(254, 90, 90, 0.7);
}

.bar.red:hover {
    opacity: 0.5;
}

.bar-container {
    padding: 5px;
    display: flex;
    align-items: center;
}