@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 960px) {
    .loader {
        display: block !important;
        width: 400px !important;
        min-width: 400px !important;
        height: 400px !important;
        min-width: 400px !important;
        border-radius: 50%;
        border-width: 50px !important;
        border: 15px solid; /* General border for the loader */
        border-top-color: transparent; /* The top part is transparent to create the spin illusion */
        animation: spin 10s linear infinite;
        position: relative;
        cursor: pointer;
    }
}

.loader {
    display: none;
}

.loader::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.primary.loader {
    border-color:  rgba(55, 88, 249, 0.2);
    border-top-color: rgb(55, 88, 249);
}

.primary.loader::before {
    background: rgb(55, 88, 249);
}