@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    border: 15px solid; /* General border for the loader */
    border-top-color: transparent; /* The top part is transparent to create the spin illusion */
    animation: spin 3s linear infinite;
    position: relative;
    cursor: pointer;
}

.pause.loader {
    animation: none;
}

.run.loader {
    animation: spin 0.5s linear infinite;
}

.loader::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.primary.loader {
    border-color:  rgba(255, 202, 28, 0.2);
    border-top-color: rgb(255, 202, 28);
}

.success.loader {
    border-color: rgba(5, 194, 134, 0.2);
    border-top-color: #13C296
}

.danger.loader {
    border-color: rgba(234, 97, 97, 0.2);
    border-top-color: rgb(234, 97, 97);
}

.light.loader {
    border-color: rgba(186, 187, 190, 0.2);
    border-top-color: rgb(186, 187, 190);
}

.primary.loader::before {
    background: rgb(219, 171, 10);
}

.success.loader::before {
    background: #13C296
}

.danger.loader::before {
    background: rgb(239, 68, 68);
}

.light.loader::before {
    background: rgb(243, 244, 246);
}